@let formattedValue = formattedText();
@let substringClass = searchSubstringClass();
@let searchedWords = searchPattern();
<p #readonlyText localeSensitive [ngClass]="{singleline: singleline()}" [style.--comment-color]="commentColor()"
    [style.--comment-background]="commentBackground()" [style.--link-normal-color]="linkNormalColor()"
    [style.--link-visited-color]="linkVisitedColor()"
    [ngStyle]="readonlyStyles()" [style.--link-hover-color]="linkHoverColor()"
    [style.--link-active-color]="linkActiveColor()" [style.--search-substring-background]="searchSubstringBackground()"
    searchHighlight class="editor-readonly" [substringClass]="substringClass" [text]="formattedValue"
    [searchedWords]="searchedWords"></p>