@let dockMode = dock();
<div #container localeSensitive class="container" [ngClass]="{'dock-left': dockMode === 'left', 'dock-right': dockMode === 'right' }"
    [ngStyle]="styles()">
    <div class="dock left">
        <ng-content select="dock-left" />
    </div>
    <div class="content">
        <div class="overlay" staticClick [maxStaticClickDistance]="maxStaticClickDistance" (onStaticClick)="onOverlayClick($event)">
            <div class="locker" [ngClass]="{'freeze': dockMode !== 'none'}">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    <div class="dock right">
        <ng-content select="dock-right" />
    </div>
</div>