@let searchText = search();
@let groupTitle = title();
@let enabledDockLeft = dockLeftCollapsible();
<div class="wrapper">
    <div class="container">
        <div #toolbar localeSensitive class="toolbar" [ngClass]="{'enabled-dock-left': enabledDockLeft}">
            <div>
                @if (enabledDockLeft) {
                    <x-menu-button name="menu-button" (onClick)="onOpenMenuHandler($event)" [opened]="menuOpened()" />
                }
            </div>
            <div #header class="title">{{groupTitle}}</div>
            <x-search (search)="onSearchHandler($event)" />
        </div>

        <div class="list-container">
            @let doc = dockMode();
            <x-drawer [dock]="doc" [dockLeftSize]="menuSize()" [dockLeftCollapsible]="enabledDockLeft">
                <dock-left>
                    <x-groups [scrollStartOffset]="toolbarBounds().height" (select)="onGroupSelectHandler($event)" (close)="onGroupsCloseHandler()" />
                </dock-left>
                <div class="viewer-container">
                    <x-store-items #storeItems [search]="searchText" [scrollStartOffset]="toolbarBounds().height" />
                </div>
            </x-drawer>
        </div>
    </div>
</div>