@keyframes ripple {
    0% {
        opacity: 0;
        r: 0%;
    }

    60% {
        opacity: 1;
        r: 100%;
    }

    100% {
        opacity: 0;
        r: 140%;
    }
}

:host {
    transition: fill 100ms ease-out;
}

.shape {
    position: relative;
}

.hilight {
    filter: blur(10px);
}

.ripple {
    opacity: 0;

    &.animate {
        animation: ripple 800ms ease-out;
    }
}

.fill {
    &.prepared {
        transition: all 200ms ease-out;
    }
}

.g1,
.g2 {
    &.prepared {
        transition: stop-color 200ms ease-out, offset 200ms ease-out;
    }
}